.app-drawer-container {
  flex: 1;
}

.mat-sidenav {
  background-color: #365681;
  width: 245px;
}


.mat-sidenav-container {
  background-color: transparent;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.toolbar {
  background-color: #365681;
  padding: 8px;
  height: 45px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

.div1 {
  display: flex;
  height: 25px;
}

.divButton {
  width: fit-content;
  height: 100%;
}

#button {
  margin: 0px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  min-width: 0px;
  width: 40px;
  margin-left: 10px;
  padding: 0px;
  height: 100%;
}

.profile {
  cursor: pointer;
  border-radius: 5px;
  justify-content: flex-end;
  width: 90%;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}


.userName {
  margin-left: 5px;
  color: white;
}

.mat-button{
  box-sizing: border-box;
  padding: 0px;
}

.contentRouter{
  padding-top: 45px;
}