<mat-card>
    <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form method="POST" class="my-form" [formGroup]="registerForm" (submit)="machine()">

            <mat-form-field class="full-width">
                <input matInput name="ip" type="text" class="input-field" formControlName="ip"
                    placeholder="Introduza o ip da máquina" required />

            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput name="username" type="text" class="input-field" formControlName="username"
                    placeholder="Introduza o seu username" required />

            </mat-form-field>


            <mat-form-field class="full-width">
                <input matInput name="password" [type]="hide ? 'password' : 'text'" class="input-field"
                    formControlName="password" placeholder="Introduza a Palavra-passe" required />
            </mat-form-field>


            <div mat-dialog-actions class="actionL">
                <button id="button" mat-raised-button [disabled]="!registerForm.valid" color="primary"
                    type="submit">Registar</button>
            </div>
        </form>
    </div>

</mat-card>

