.profile {
    
    width: 400px;
    height: auto;
    margin: auto;

}

.matCardProfile{
    margin-top: 100px;
}

.my-form {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.full-width {
    margin-top: 4%;
    width: 100%;
    max-width: 250px;
}

#editButton{
    text-align: end;
}

.save{
    background-color: green;
}

#title{
    text-align: center;
}

.buttonChange{
    text-align: end;
}