.div2 {
  margin-top: 200px;
  width: 400px;
  height: auto;
  margin: auto;
}

.my-form {
  width: fit-content;
  margin: auto;
  text-align: center;
}

.full-width {
  margin-top: 4%;
  width: 100%;
  max-width: 250px;
}

#button {
  width: 150px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.actionL {
  justify-content: center;
  margin: auto;
  padding: 0px;
}

.mat-error {
  text-align: center;
}

.mb-3{
  width: 200px;
  margin: auto;
}

